rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && 
             (request.auth.token.email == 'nour.mohamashaly@gmail.com' || request.auth.token.email == 'm7mdyasser55@gmail.com') && 
             request.auth.token.email_verified == true;
    }

    match /bookings/{bookingId} {
      allow create: if request.resource.data.name is string && 
                      request.resource.data.name.size() > 0 &&
                      ( !('email' in request.resource.data) || (request.resource.data.email is string) ) &&
                      request.resource.data.createdAt != null;
      allow read, update, delete: if isAdmin();
    }

    match /inquiries/{inquiryId} {
      allow create: if request.resource.data.name is string && 
                      request.resource.data.name.size() > 0 &&
                      request.resource.data.email is string && 
                      request.resource.data.email.size() > 0 &&
                      request.resource.data.message is string &&
                      request.resource.data.message.size() > 0 &&
                      request.resource.data.createdAt != null;
      allow read, delete: if isAdmin();
    }
  }
}
